<% layout("/layouts/boilerplate")%>


<div class="new-video-form">
    <form method="post" action="./addvideo">
        <div class="title">Title Of Video :  <input type="text" placeholder="Title (Location)" name="title"></div>
        <div class="description">Description Of Video : <input type="text" placeholder="Enter Short Description" name="description"></div>
        <div class="video-link">Video Link : <input type="text" placeholder="Enter link of video " name="video_link"></div>
        <button class="submit-btn">SUBMIT</button>
        <button type="reset"></button>
    </form>
</div>